._tableRow_299a426, ._metaItem_18d9c95
{font-size: 120%}

._label_1d16h_1._label_1d16h_1, [data-wave-color=textDefault], ._metaLine_8299814
{font-size: 112%}

[class="_dataContainer_66f4f40"]{
._titleText_7494646{font-size: 240%!important}}

._marketText_1lyag_1{font-size: 116%!important}
[class="_viewAllButton_4b4f90c"]{
    ._marketText_1lyag_1{font-size: 100%!important}
}

[class="_container_4454af7"]{
._marketText_1lyag_1{font-size: 105%!important; transform: translateY(-.27em)}}

._shortcutItem_6c8e7b4 {._marketText_1lyag_1 {font-size: 107.5%!important;}}

._headerContainer_5618a8d ._headerText_9398ec6{font-size: 130%!Important;}

[class="_card_38c6c04"]{
    [class="_contentContainer_6f8427a"]{transform: translateY(-.17em)!important}}
