


@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
--font-family: "Ubuntu Mono", monospace;
--font2:  "Ubuntu", sans-serif;}

[class*="searchField"],
[class*="label"],
[class*="wave-text"],
[class*="subtitle"],
[class*="Text"],
[class*="info"],
[class*="paragraphText"],
[class*="readMoreButton"],
[class*="underline"],
[class*="body"],
[class*="timeColumn"],
button,
[class*="title"],
[class*="textarea"],
[data-test="grid-item-detail-text-title-artist"]
{font-family: var(--font-family) !important;
font-weight: 800!important;}
._hasCues_15d8b83 span{
    font-size: 33px !important ;
    font-family: var(--font-family) !important;
    font-weight: 600;}
#footerPlayer > div._playerContent_8ec26af > div._utilityContainer_4b1f859 > div._qualityBadgeContainer_b9ec6fa > a > span > span{
    font-weight: 700!important;}
#footerPlayer > div._playerContent_8ec26af > div._utilityContainer_4b1f859 > div._qualityBadgeContainer_b9ec6fa > a > span{
    transform: scale(1.02);}
[class="_actionContainer_7bd364b"]{
._label_1d16h_1._label_1d16h_1{font-size: 17.1px!important; font-weight: 900!Important;}}



[class="_titleArtistStack_f04ea70"]{
._item_39605ae{font-size: 12.8px;}
._titleContainer_2da23c0 a, ._titleContainer_2da23c0 span{font-size: 13.5px!Important;}
span{font-size: 12.4px!important; transform: translateY(-.01em);}}
:is(._dataContainer_66f4f40 ._meta_32e4194) ._metaLine_8299814{font-size: 16px;}
._biography_3066ef2{.wave-text-body-demi{
font-weight: 300!important;}}
._shortcutItem_6c8e7b4 {._marketText_1lyag_1 {font-size: 13.1px; }}
