
/* ==========================================.............................................
    BUILTINTHEME
-----------------------------------------------======================================== */
/* ===========================----COLOR VARIABLES----================================== */
    :root{

        --cover-Vib1:      255, 103, 235  ; /* first vibrant color*/
        --cover-DVib1:     47, 10, 61  ; /* darker version of first vibrant color*/
        --cover-LVib1:     253, 184, 255 ; /* lighter version of first vibrant color*/

        --lyrtxt: 255, 171, 248; /*lyrics text color, color is cut w/ white so make this color a good bit more saturated than the actual color you want*/

        --cover-Vib2:      179, 207, 255 ; /* second vibrant color (can be the same as the first if you're going for a monochromatic dealy)*/
        --cover-DVib2:     0, 7, 67    ; /* darker version of second vibrant color*/
        --cover-LVib2:     220, 240, 255  ; /* lighter version of second vibrant color*/

        --card:      16, 4, 55 ; /* color of cards and some buttons, should match background color but contrast just enough to be visible*/
        --card2:     19, 5, 65 ; /* slightly lighter and/or more saturated version of base card color*/
        --cardacc: 183, 174, 255; /* very pale version of card color mainly for hover effects*/
        --cardacc2: 229, 163, 255; /*light version of card color mainly for selected sidebar icon*/

        --cover-Mut1:      120, 120, 120 ; /* muted color (these barely show up they're kind of a holdover from when this was a covertheme compatible theme)*/
        --cover-DMut1:     32, 12, 69      ; /* darker version of muted color*/
        --cover-LMut1:     239, 188, 236 ; /* light version of muted color*/

        --cover-F00T:      14, 4, 57 ; /*footer color (not now-playing)*/
        --cover-F00TBAR1:  252, 165, 255    ; /*footer progress bar color (not now-playing)*/
        --cover-F00TBAR1BG: 93, 82, 156, 0.6;
        --cover-F00TD:     74, 66, 58    ; /*should be a darker version of F00T color*/

        --F00TNP: 23, 5, 64; /*footer color and lyrics container gb now-playing*/
        --F00TBARNP: 238, 165, 255   ; /*footer progress bar color (now-playing)*/
        --F00TBARNPBG:  90, 64, 115,.6  ; /*footer progress bar bg color (now-playing)*/

        --NPBG: rgba(29, 7, 64, 0.323);


        /*bhdf doesnt do nuthin it's just here to make color picking easier*/
        --bhdf:    rgba(93, 82, 156, 0.6);

        --carddelay: -240ms; /*controls delay for the hover animation for the album/playlist cards, what looks "right" weirdly depends on the colors you're using. usually somewhere between -200ms and -300ms*/

        --cover-S1D3B4R:     color-mix(in srgb, rgba(255, 255, 255, 0.513) 3% , rgb(var(--cover-F00T), 1) 97%); /*controls sidebar background-color*/

        --sephue: 203deg;   /*controls sidebar album colorization & artist page top picture colorization, adjust to the color you want*/

        --plylstsat: 1.2; /*controls backdrop-filter for most inner containers, such as the album or playlist tracklist*/
        --plylstbrt: 1.2;
        --plylstbrdr: rgba(146, 190, 255, 0.17); /*controls border-color for most inner containers, such as the album or playlist tracklist*/

        --feedsat: 1.2; /*controls backdrop-filter for home feed inner container*/
        --feedbrt: 1.1;
        --feedbrdr: rgba(146, 146, 255, 0.17);/*controls border-color for home feed inner container*/

        /*selected track colors*/
        --tracksel1: rgb(255, 158, 255); /*selected track animated gradient color 1*/
        --tracksel2: rgb(174, 158, 255); /*selected track animated gradient color 2*/
        --trackselshad: rgb(var(--cover-DVib1),.09); /*selected track inset shadow color*/
        --trackseltxt: color-mix(in srgb, rgb(var(--cover-DVib1),1) 10% , black 90%); /*selected text color*/
        --tracksborder : rgb(55, 54, 90); /*tracklist divider line color, should be fully opaque*/
        /*home page top tab thingies (not like the "for you," or "staff picks" buttons, this is for the six big rectangles below those)*/
        --v1: rgb(255, 124, 244); /*should vaguely match --cover-Vib1*/
        --v2: rgb(118, 182, 255); /*should vaguely match --cover-Vib2*/
        /*MAIN BUTTONS ( PLAY / SHUFFLE BUTTONS BUT ALSO OTHER STUFF SOMETIMES)*/
        --but1: rgb(233, 102, 233);
        --but2: rgb(87, 148, 233);}
     
/* ===========================----BACKGROUND TEXURES----=============================== */


:root{
    --bg1: 10, 0, 23;
    --bg2: 14, 0, 58;
    --bg3: 4, 0, 10;}

/*playlist view background image remover*/
div._dataContainer_5bb6028::before,div._dataContainer_7feb4a2::before,div._dataContainer_66f4f40::before{background-image: none;}
/*now playing background*/
._background_42cea4e,.now-playing-background-container{
  animation: blink 10s infinite, blink2 12s infinite ,blink1 17s infinite, blink12 15s infinite;
  background-image: 
  radial-gradient(ellipse at top left, rgb(var(--bg3),0.2), rgb(var(--bg2),0.45),rgba(0, 128, 0, 0) 80%),
    radial-gradient(circle at 10% 20%, hsla(56, 100%, 90%, var(--star1)) .7px, transparent 0),
    radial-gradient(circle at 35% 45%, hsla(56, 100%, 90%, var(--star2)) .6px, transparent 0),
     radial-gradient(circle at 35% 45%, hsla(56, 100%, 90%, var(--star1)) .6px, transparent 0),
    radial-gradient(circle at 70% 10%, hsla(56, 100%, 90%, var(--star3)) .9px, transparent 0),
    radial-gradient(circle at 85% 80%, hsla(56, 100%, 90%, var(--star4)) .8px, transparent 0),
    linear-gradient(180deg, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)),
radial-gradient(ellipse at top left,color-mix(in srgb,rgb(var(--bg3),0.25) 95%, rgb(var(--bg1),0.25) 5%),rgba(12, 12, 12, 0) 70%),
radial-gradient(circle at bottom right,rgb(var(--bg3),.2),transparent 53%),
radial-gradient(circle at bottom left,rgb(var(--bg3),.2),transparent 53%),
radial-gradient(ellipse at top left, rgb(var(--bg2),.7), rgb(var(--bg2),0.4),rgba(0, 128, 0, 0) 90%),
linear-gradient(180deg, rgba(var(--bg3),1),  rgba(var(--bg3),1))
!important;
  background-size:100% 100%, 450px 240px, 350px 350px, 380px 600px,560px 400px, 410px 320px, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%!important;
 }

/*main bg (gradients stack from bottom to top)*/
._mainContainer_6519c30{
  animation: blink 10s infinite, blink2 12s infinite ,blink1 17s infinite, blink12 15s infinite;
  background-image: 
  radial-gradient(ellipse at top left, rgb(var(--bg3),0.2), rgb(var(--bg2),0.3),rgba(0, 128, 0, 0) 90%),

    linear-gradient(180deg, rgb(9, 0, 18),  rgba(0, 0, 0, 0.347))
}
._fullscreen_236d61b{
background-color: rgb(var(--cover-Vib1));}
._main_a5d9f44{ background-color: #ff000000!important;
background: none!important;}

/*sidebar album filters (remove hue-rotate to disable colorization effect, but i still recommend adding desaturation or lower brightness for the hover to be noticible since i removed the hover background-color)*/
[id="sidebar"]{._thumbnail_f82abfa img{filter: sepia(1) hue-rotate(var(--sephue)) saturate(1.5) brightness(.8); transition: 0ms;}}

/* ==========================================.............................................
   END OF BUILTINTHEME
-----------------------------------------------======================================== */
