
/* ==========================================.............................................
    BUILTINTHEME
-----------------------------------------------======================================== */
/* ===========================----COLOR VARIABLES----================================== */
    :root{

        --cover-Vib1:      101, 133, 148  ; /* first vibrant color*/
        --cover-DVib1:     26, 26, 34  ; /* darker version of first vibrant color*/
        --cover-LVib1:     127, 180, 202 ; /* lighter version of first vibrant color*/

        --lyrtxt: 220, 204, 155; /*lyrics text color, color is cut w/ white so make this color a good bit more saturated than the actual color you want*/
        --maintxt:   221,220,206 ; /*feed/card text*/
        --maintxt2:  221,220,206 ; /*feed/card text*/
        --maintxt3:   0,255,0 ; /*feed section-header text*/
        --maintxt4:   221,220,206 ; /*feed/card text*/

        --cover-Vib2:      156, 171, 202 ; /* second vibrant color (can be the same as the first if you're going for a monochromatic dealy)*/
        --cover-DVib2:     0, 7, 67    ; /* darker version of second vibrant color*/
        --cover-LVib2:     220, 215, 186  ; /* lighter version of second vibrant color*/

        --card:      31, 31, 40 ; /* color of cards and some buttons, should match background color but contrast just enough to be visible*/
        --card2:     42, 42, 55 ; /* slightly lighter and/or more saturated version of base card color*/
        --cardacc: 227, 227, 255; /* very pale version of card color mainly for hover effects*/
        --cardacc2: 163, 212, 213; /*light version of card color mainly for selected sidebar icon*/

        --cover-Mut1:      120, 120, 120 ; /* muted color (these barely show up they're kind of a holdover from when this was a covertheme compatible theme)*/
        --cover-DMut1:     32, 32, 32      ; /* darker version of muted color*/
        --cover-LMut1:     239, 188, 236 ; /* light version of muted color*/

        --cover-F00T:      31, 31, 40 ; /*footer color (not now-playing)*/
        --cover-F00TBAR1:  163, 212, 213    ; /*footer progress bar color (not now-playing)*/
        --cover-F00TBAR1BG: 82, 82, 107, 1;
        --cover-F00TD:     74, 66, 58    ; /*should be a darker version of F00T color*/
        --footcard: rgb(42,42,55);

        --F00TNP: 23, 5, 64; /*footer color and lyrics container gb now-playing*/
        --F00TBARNP: 156, 171, 202   ; /*footer progress bar color (now-playing)*/
        --F00TBARNPBG:  82, 82, 107, 1  ; /*footer progress bar bg color (now-playing)*/
	    --footcard2: rgb(42,42,55);
        --npbrdrclr: rgba(42, 42,55, .4); /*now playing lyrics container border color*/

        --NPBG: rgba(42, 42,55, .4);

        --shadowmult: 0;
        --glowmult: 0;

        /*bhdf doesnt do nuthin it's just here to make color picking easier*/
        --bhdf:    rgba(227, 227, 255, 0.6);

        --carddelay: -240ms; /*controls delay for the hover animation for the album/playlist cards, what looks "right" weirdly depends on the colors you're using. usually somewhere between -200ms and -300ms*/

        --cover-S1D3B4R:     color-mix(in srgb, rgba(255, 255, 255, 0.513) 3% , rgb(var(--cover-F00T), 1) 97%); /*controls sidebar background-color*/
        --sbacc:     rgb(58, 58, 74); /*controls sidebar nav-item/folder bg*/

        --sephue: 183deg;   /*controls sidebar album colorization & artist page top picture colorization, adjust to the color you want*/

        --plylstsat: 1; /*controls backdrop-filter for most inner containers, such as the album or playlist tracklist*/
        --plylstbrt: 1;
        --plylstbrdr: rgba(42,42,55); /*controls border-color for most inner containers, such as the album or playlist tracklist*/

        --feedsat: 1; /*controls backdrop-filter for home feed inner container*/
        --feedbrt: 1;
        --feedbrdr: rgba(42,42,55);/*controls border-color for home feed inner container*/

        /*selected track colors*/
        --tracksel1: rgb(220, 215, 186); /*selected track animated gradient color 1*/
        --tracksel2: rgb(255, 228, 179); /*selected track animated gradient color 2*/
        --trackselshad: rgb(var(--cover-DVib1),.09); /*selected track inset shadow color*/
        --trackseltxt: color-mix(in srgb, rgb(var(--cover-DVib1),1) 10% , black 90%); /*selected text color*/
        --tracksborder : rgb(44, 44, 60); /*tracklist divider line color, should be fully opaque*/
        /*home page top tab thingies (not like the "for you," or "staff picks" buttons, this is for the six big rectangles below those)*/
        --v1: rgb(127, 180, 202); /*should vaguely match --cover-Vib1*/
        --v2: rgb(255, 93, 98); /*should vaguely match --cover-Vib2*/
        --vTXT: rgb(17, 17, 27); /*should vaguely match --cover-Vib2*/
        /*MAIN BUTTONS ( PLAY / SHUFFLE BUTTONS BUT ALSO OTHER STUFF SOMETIMES)*/
        --but1: rgb(230, 195, 132);
        --but2: rgb(127, 180, 202);}
     
/* ===========================----BACKGROUND TEXURES----=============================== */


:root{
    --bg1: 26, 26, 34;
    --bg2: 26, 26, 34;
    --bg3: 26, 26, 34;
    --tt: hsl(263, 29%, 61%);
    --gr: hsl(319, 100%, 62%);
    }

/*playlist view background image remover*/
div._dataContainer_5bb6028::before,div._dataContainer_7feb4a2::before,div._dataContainer_66f4f40::before{background-image: none;}
/*now playing background*/
._background_42cea4e,.now-playing-background-container{
  animation: blink 10s infinite, blink2 12s infinite ,blink1 17s infinite, blink12 15s infinite;
  background-image: 
  radial-gradient(ellipse at top left, rgb(var(--bg3),0.0), rgb(var(--bg2),0.0),rgba(0, 0, 0, 0) 80%),
    radial-gradient(circle at 10% 20%, hsla(87, 37%, 58%, var(--star1)) .7px, transparent 0),
    radial-gradient(circle at 35% 45%, hsla(51, 33%, 80%, var(--star2)) .6px, transparent 0),
     radial-gradient(circle at 35% 45%, hsla(181, 37%, 74%, var(--star1)) .6px, transparent 0),
    radial-gradient(circle at 70% 10%, hsla(358, 100%, 68%, var(--star3)) .9px, transparent 0),
    radial-gradient(circle at 85% 80%, hsla(263, 29%, 61%, var(--star4)) .8px, transparent 0),
linear-gradient(180deg, rgba(var(--bg3),1),  rgba(var(--bg3),1))
!important;
  background-size:100% 100%, 450px 240px, 350px 350px, 380px 600px,560px 400px, 410px 320px, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%!important;
 }

/*main bg (gradients stack from bottom to top)*/
._mainContainer_6519c30{
  animation: blink 10s infinite, blink2 12s infinite ,blink1 17s infinite, blink12 15s infinite;
  background-image: 
  radial-gradient(ellipse at top left, rgb(var(--bg3),1), rgb(var(--bg2),1))
}
._fullscreen_236d61b{
background-color: rgb(var(--cover-Vib1));}
._main_a5d9f44{ background-color: #ff000000!important;
background: none!important;}

/*sidebar album filters (remove hue-rotate to disable colorization effect, but i still recommend adding desaturation or lower brightness for the hover to be noticible since i removed the hover background-color)*/
[id="sidebar"]{._thumbnail_f82abfa img{filter: sepia(1) hue-rotate(var(--sephue)) saturate(.5) brightness(.8); transition: 0ms;}}
